.locations {
    margin: 0 200px 67px;
    padding: 0;
}

@media screen and (max-width:1070px) {
    .locations {
        margin: 0 110px 0;
    }
}

@media screen and (max-width:801px) {
    .locations {
        margin: 0 19px 0;
    }
}