.popup__container {
    padding: 0;
    margin: auto;
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    box-sizing: content-box;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media screen and (max-width:620px) {
    .popup__container {
        width: 282px;
    }
}