.profile__add-button {
    margin: 0;
    padding: 0;
    background-image: url(../../../images/add_button.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    align-self: center;
}

@media screen and (max-width: 1070px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px;
    }
}

.profile__add-button:hover {
    opacity: 0.6;
}