.popup__input {
    margin: 0;
    padding: 0;
    height: 27px;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background: #ffffff;
    font-weight: 400;
    font-size: 0.875em;
    line-height: 1.2;
    width: 100%;
}

.popup__input:nth-child(1){
    margin-top: 0;
}